[submodule "src/turtlebot3_simulations"]
	path = src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = noetic-devel
[submodule "src/warehouse_ros_mongo"]
	path = src/warehouse_ros_mongo
	url = https://github.com/ros-planning/warehouse_ros_mongo.git
	branch = noetic-devel
[submodule "src/m-explore"]
	path = src/m-explore
	url = https://github.com/michaelfong2017/m-explore.git
	branch = noetic-devel
