<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="tb3_0" />
  
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]" />
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]" />
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua" />
  <arg name="open_rviz" default="true" />

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg robot_name)/base_footprint" />
    <param name="odom_frame" value="$(arg robot_name)/fake_odom" />
    <param name="map_frame" value="$(arg robot_name)/map" />
    <rosparam command="load" file="$(find turtlebot3_slam)/config/gmapping_params.yaml" />
    <!-- <param name="xmin" value="-20.0" />
    <param name="ymin" value="-20.0" />
    <param name="xmax" value="20.0" />
    <param name="ymax" value="20.0" /> -->
  </node>
  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map END -->

  <!-- rviz -->
  <!-- <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find turtlebot3_slam)/rviz/turtlebot3_$(arg slam_methods).rviz" />
  </group> -->
</launch>
  