<launch>
    <arg name="first_tb3" default="tb3_0" />
    <arg name="second_tb3" default="tb3_1" />
    <arg name="third_tb3" default="tb3_2" />

    <group ns="$(arg first_tb3)">
        <include file="$(find explore_lite)/launch/explore.launch"></include>
    </group>

    <group ns="$(arg second_tb3)">
        <include file="$(find explore_lite)/launch/explore.launch"></include>
    </group>

    <group ns="$(arg third_tb3)">
        <include file="$(find explore_lite)/launch/explore.launch"></include>
    </group>


    <include file="$(find traceback_bringup)/launch/modified_map_merge.launch" />


    <node pkg="traceback" type="traceback" respawn="false" name="traceback" output="screen">
        <param name="robot_map_topic" value="map" />
        <param name="robot_namespace" value="tb3" />
        <param name="transform_tolerance" value="0.3" />
        <param name="update_target_rate" value="0.2" />
        <param name="discovery_rate" value="0.05" />
        <param name="estimation_rate" value="0.1" />
        <param name="transform_optimization_rate" value="0.2" />
        <param name="unreasonable_goal_distance" value="5.0" /> <!-- Strongly related to the pixel
        distance -->
        <!-- either "normal" or "collect" -->
        <param name="test_mode" value="normal" default="normal" />
        <!-- either "map" or "image" -->
        <param name="estimation_mode" value="image" default="image" />
        <!-- In "collect" test_mode, use a confidence of the lowest test case, like 0.2 -->
        <!-- In "map" mode, use a confidence of 0.6 to 1.0 -->
        <!-- In "map" mode, use a confidence of 2.0 to 2.5 -->
        <param name="estimation_confidence" value="1.5" />
        <param name="camera_image_update_rate" value="0.2" />
        <param name="data_push_rate" value="3.0" />
        <param name="check_obstacle_nearby_pixel_distance" value="5" />
        <param name="abort_threshold_distance" value="2.0" />
        <!-- The queue size has to be large enough so that an explored near place can be found -->
        <param name="camera_pose_image_max_queue_size" value="300" />
        <param name="camera_pose_image_queue_skip_count" value="50" />
        <param name="features_depths_max_queue_size" value="200" />
        <param name="essential_mat_confidence" value="0.35" />
        <param name="far_from_accepted_transform_threshold" value="6.0" />
        <param name="accept_count_needed" value="5" />
        <!-- reject when reject_count >= reject_count_needed && reject_count + abort_count >= accept_count -->
        <param name="reject_count_needed" value="1" />
        <!-- abort when abort_count >= abort_count_needed && abort_count >= 2 * accept_count -->
        <param name="abort_count_needed" value="1" /> 
    </node>


    <!-- <node pkg="traceback" type="pcl_online_viewer" respawn="false" name="pcl_online_viewer"
        output="screen">
        <param name="topic" value="/$(arg first_tb3)/camera/depth/points" />
    </node> -->

    <!-- <include file="$(find mongodb_store)/launch/mongodb_store.launch">
        <arg name="db_path" value="$(env HOME)/catkin_ws/db" />
        <arg name="port" value="27017" />
    </include> -->

</launch>