<launch>
    <arg name="first_tb3" default="tb3_0" />
    <arg name="second_tb3" default="tb3_1" />
    <arg name="third_tb3" default="tb3_2" />

    <group ns="$(arg first_tb3)">
        <include file="$(find traceback_bringup)/launch/modified_gmapping.launch">
            <arg name="robot_name" value="$(arg first_tb3)" />
        </include>

        <include file="$(find traceback_bringup)/launch/modified_move_base.launch">
            <arg name="cmd_vel_topic" value="cmd_vel" />
            <arg name="robot_name" value="$(arg first_tb3)" />
        </include>


        <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_tb3)_$(arg first_tb3)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg first_tb3)/$(arg first_tb3)/map 50" />
        <include file="$(find explore_lite)/launch/explore.launch"></include>
    </group>

    <group ns="$(arg second_tb3)">
        <include file="$(find traceback_bringup)/launch/modified_gmapping.launch">
            <arg name="robot_name" value="$(arg second_tb3)" />
        </include>

        <include file="$(find traceback_bringup)/launch/modified_move_base.launch">
            <arg name="cmd_vel_topic" value="cmd_vel" />
            <arg name="robot_name" value="$(arg second_tb3)" />
        </include>

        <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_tb3)_$(arg second_tb3)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg second_tb3)/$(arg second_tb3)/map 50" />
        <include file="$(find explore_lite)/launch/explore.launch"></include>
    </group>

    <group ns="$(arg third_tb3)">
        <include file="$(find traceback_bringup)/launch/modified_gmapping.launch">
            <arg name="robot_name" value="$(arg third_tb3)" />
        </include>

        <include file="$(find traceback_bringup)/launch/modified_move_base.launch">
            <arg name="cmd_vel_topic" value="cmd_vel" />
            <arg name="robot_name" value="$(arg third_tb3)" />
        </include>

        <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg third_tb3)_$(arg third_tb3)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg third_tb3)/$(arg third_tb3)/map 50" />
        <include file="$(find explore_lite)/launch/explore.launch"></include>
    </group>


    <include file="$(find traceback_bringup)/launch/modified_map_merge.launch" />


    <node pkg="traceback" type="traceback" respawn="false" name="traceback" output="screen">
        <param name="robot_map_topic" value="map"/>
        <param name="robot_namespace" value="tb3"/>
        <param name="transform_tolerance" value="0.3"/>
        <param name="update_target_rate" value="0.2"/>
        <param name="discovery_rate" value="0.05"/>
        <param name="estimation_rate" value="0.1"/>
        <param name="estimation_confidence" value="0.8"/>
    </node>


    <!-- <include file="$(find mongodb_store)/launch/mongodb_store.launch">
        <arg name="db_path" value="$(env HOME)/catkin_ws/db" />
        <arg name="port" value="27017" />
    </include> -->

</launch>